body{
    margin: 0;
    padding: 10px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar img{
    width: 50px;
    height: 30px;
}
.logo{
    display: flex;
    padding: 10px;
    gap:5px;
    align-items: center;
    width: fit-content;
    margin-right: 20px;
    border:2px solid transparent;
    border-radius:70px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(90deg, green, red, black, white) border-box;
}
.logo img{
    padding: 0;
    margin: 0;
}
.logo h4{
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
.topbar h1{
    margin-left: 30%;
}
.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home{
    display: inline;
    gap: 10px;
    cursor: pointer;
}
.input{
    width:70%;
    border: 2px solid black;
    background-color: transparent;
    margin-left:200px;
    margin-top: 30px;
    border-radius: 20px;
}
.input input{
    width: 90%;
    border: none;
}
.input input:focus{
    outline: none;
}
.tripimg img{
    margin-top: 10px;
    width: 100%;
    height: 500px;
    position: relative;
}
.tripimg_offer{
    width: 25%;
    background-color: antiquewhite;
    border:solid 2px black;
    padding: 5px;
    position: absolute;
    top:50%;
    left:10%;
    text-align: center;
    animation-name:zoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.tripimg_offer button{
    padding: 5px;
    font-size: 15px;
    background-color: cornflowerblue;
    border-radius: 10px;
    cursor: pointer;
}
.tripimg_offer button:hover{
    background-color: red;
}
.location{
    padding: 10px;
}
.location__container{
display: flex;
flex-wrap:wrap;
justify-content: space-between;
margin-top:10px ;
}
.location-card{
    width:270px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    height: 410px;

}
.location-card img{
    padding-left: 30px;
    padding: 10px;
    width: 80%;
    height: 50%;
    padding-top: 30px;
    border-radius: 5px;
}
.location-card button{
    background-color:#6a5acd;
    color: black;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.location-card button:hover{
    background-color:burlywood;
}
.planings{
    padding: 10px;
}
.planing__container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.planing__container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.planing__container p:hover{
    background-color: blue;
    color:black;
}
.footer{
    padding:10px;
    background-color: black;
    color: beige;
}
